body {
  padding: 0;
}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e0354b;
  color: #e0354b;
  font-size: 1.5rem;
  font-weight: bold;
  height: 25%;
}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-body {
  height: 70%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.App-footer {
  height: 5%;
  border-top: 3px solid #e0354b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.App-footer p {
  margin: 0;
}

#password {
  margin-left: 5px;
}